 body {
    background-image: url("../images/wood_pattern.png");
    font-family: Georgia, Times, "Times New Roman", serif;
}
.row {
    /* background-color: red; */
    margin: 25px;
    /* width: 35%; */
    
}

#titleRow {
   
   background-color: #8B4513; 
   border-radius: 25px;
  width: 30%;
    
}

#title {
    font-size: 32px;
    width: 100%;
    color: white;
    position: relative;    
    padding: 25px 0;
    margin: 0 15px;
    position: center;
    text-align: center;
   
}

#instructionsRow {
    background-color: #8B4513;
    color: white;
    padding-left: 15px;
    border-radius: 25px;

}

#targetRow {
    background-color: #8B4513;
    color: white;
    margin-right: 15px;
    border-radius: 25px;

}
#targetNumber {
   
    font-size: 24px;
}

#winsRow {
    background-color: #8B4513;
    color: white;
    border-radius: 25px;
}
input {
    border-radius: 25px;
}

#scoreRow {
    background-color: #8B4513;
color: white;
border-radius: 25px;
}

#scoreNumberRow {
    background-color: #8B4513;
    color: white;
    padding: 25px;
    font-size: 22px;
    border-radius: 25px;
}

